.event-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.event-detail-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.event-detail-container p {
    margin: 5px 0;
}

.event-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.event-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.event-actions .edit-event-button {
    background-color: #007bff;
    color: white;
}

.event-actions .delete-event-button {
    background-color: #dc3545;
    color: white;
}

.participants-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.participants-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.participants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.participant-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 180px;
    margin: 10px;
}

.participant-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.participant-card p {
    margin: 2px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.register-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}