.pokemon-card {
    background-color: rgba(255, 255, 255, 0.8);
    /* Slightly transparent background */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 200px;
    /* Set a fixed width */
    height: 350px;
    /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* More pronounced shadow on hover */
}

.pokemon-card h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
}

.pokemon-card .types {
    margin-top: 10px;
}

.pokemon-card .type {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

.pokemon-card .type.grass {
    background-color: #78C850;
}

.pokemon-card .type.poison {
    background-color: #A040A0;
}

.pokemon-card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
}

.pokemon-card .buttons .details-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.pokemon-card .buttons .details-button:hover {
    background-color: #0056b3;
}

.pokemon-card .buttons .like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pokemon-card .buttons .like-button img {
    width: 25px;
    height: 25px;
}

.pokemon-card .buttons .like-button:hover {
    transform: scale(1.1);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Ensure loader is centered vertically */
}

.pokemon-card .type.grass {
    background-color: #40b704;
}

.pokemon-card .type.poison {
    background-color: #c016c0;
}

.pokemon-card .type.fire {
    background-color: #f46a07;
}

.pokemon-card .type.water {
    background-color: #0948da;
}

.pokemon-card .type.bug {
    background-color: #dcf404;
}

.pokemon-card .type.normal {
    background-color: #d4d4cf;
}

.pokemon-card .type.electric {
    background-color: #F8D030;
}

.pokemon-card .type.fighting {
    background-color: #C03028;
}

.pokemon-card .type.flying {
    background-color: #A890F0;
}

.pokemon-card .type.ice {
    background-color: #98D8D8;
}

.pokemon-card .type.ground {
    background-color: #E0C068;
}

.pokemon-card .type.rock {
    background-color: #B8A038;
}

.pokemon-card .type.psychic {
    background-color: #F85888;
}

.pokemon-card .type.ghost {
    background-color: #705898;
}

.pokemon-card .type.dragon {
    background-color: #7038F8;
}

.pokemon-card .type.dark {
    background-color: #705848;
}

.pokemon-card .type.steel {
    background-color: #B8B8D0;
}

.pokemon-card .type.fairy {
    background-color: #EE99AC;
}

.pokemon-card.normal {
    background-color: #A8A77A;
}

.pokemon-card.fire {
    background-color: #EE8130;
}

.pokemon-card.water {
    background-color: #6390F0;
}

.pokemon-card.electric {
    background-color: #F7D02C;
}

.pokemon-card.grass {
    background-color: #7AC74C;
}

.pokemon-card.ice {
    background-color: #96D9D6;
}

.pokemon-card.fighting {
    background-color: #C22E28;
}

.pokemon-card.poison {
    background-color: #A33EA1;
}

.pokemon-card.ground {
    background-color: #E2BF65;
}

.pokemon-card.flying {
    background-color: #A98FF3;
}

.pokemon-card.psychic {
    background-color: #F95587;
}

.pokemon-card.bug {
    background-color: #A6B91A;
}

.pokemon-card.rock {
    background-color: #B6A136;
}

.pokemon-card.ghost {
    background-color: #735797;
}

.pokemon-card.dragon {
    background-color: #6F35FC;
}

.pokemon-card.dark {
    background-color: #705746;
}

.pokemon-card.steel {
    background-color: #B7B7CE;
}

.pokemon-card.fairy {
    background-color: #D685AD;
}


